/*Selector {
	Property: value;
	}*/

	h1 {
		cursor: url(skulls.ani), url(https://cur.cursors-4u.net/others/oth-1/oth92.png), auto !important;
		font-style: normal;
		text-align: center;
		font-size: 40px;
		text-decoration: blink;
		font-family: "Roboto Slab";
	}


	#imghome {
				text-align: center;

	}

button {
justify-content: center;
text-align: center;
  font-family: "Roboto Slab";
  cursor: cell;  
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: center;
  touch-action: manipulation;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

